<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783486881115-fjs9afm20q4fs4ngjkl8qho296venmnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783486881115-fjs9afm20q4fs4ngjkl8qho296venmnq</string>
	<key>API_KEY</key>
	<string>AIzaSyCCa-BaFB6c3fBlJk_ohVE3XDpLa3C297g</string>
	<key>GCM_SENDER_ID</key>
	<string>783486881115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.playChess</string>
	<key>PROJECT_ID</key>
	<string>play-chess-accounts</string>
	<key>STORAGE_BUCKET</key>
	<string>play-chess-accounts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783486881115:ios:c98c80ca773dab45661e7e</string>
</dict>
</plist>